/* font-family: "Inter", sans-serif;
font-family: "Poppins", sans-serif; */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --red: #9C0725;
   --black: #030303;
   --white: #FFFFFF;
}

body {
   background-color: var(--black);

}

main {
   width: 100%;
}

nav {
   width: 8%;
   height: 100vh;
   background-color: var(--white);
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 360px;

}

nav h1 {
   color: var(--red);
   transform: rotate(90deg);
   width: 500px;
   text-transform: uppercase;
   font-size: 15px;
   word-spacing: 10px;

}